body{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image2.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
}


.register-box{
	max-width: 700px;
	float: none;
	margin: 150px auto;
}

.login-box{
	max-width: 700px;
	float: none;
	margin: 150px auto;
}

.login-left{
	background: rgba(211, 211, 211, 0.6);
	padding: 30px;
}

.login-right{
	background: rgba(211, 211, 211, 0.4);
	padding: 30px;
}

.form-control{
	background-color: transparent !important;
}

a{
	color: #fff !important;
	margin-top: -200px !important;
}

h1{
	color: #fff !important;
	margin-top: 200px !important;
	text-align: center;
	text-transform: uppercase;
}



